*.sw[a-z]
*.pyc
*.o
*~
swarm/
vsearch/
16s_pipeline_one_sample.sh
16s_pipeline_v1.sh
usearch_python_scripts/python_scripts.tar.gz
databases/ITSdb.findley.fasta
databases/ITSdb.findley.fasta.00.idx
databases/ITSdb.findley.fasta.nhr
databases/ITSdb.findley.fasta.nin
databases/ITSdb.findley.fasta.nsq
databases/ITSdb.findley.fasta.shd
databases/ITSdb.findley.taxonomy
databases/SILVA_123.1_LSURef_tax_silva.fasta
databases/SILVA_123.1_LSURef_tax_silva.fasta.00.idx
databases/SILVA_123.1_LSURef_tax_silva.fasta.nhr
databases/SILVA_123.1_LSURef_tax_silva.fasta.nin
databases/SILVA_123.1_LSURef_tax_silva.fasta.nsq
databases/SILVA_123.1_LSURef_tax_silva.fasta.shd
databases/SILVA_123.1_SSURef_Nr99_tax_silva.fasta
databases/SILVA_123.1_SSURef_Nr99_tax_silva.fasta.00.idx
databases/SILVA_123.1_SSURef_Nr99_tax_silva.fasta.gz
databases/SILVA_123.1_SSURef_Nr99_tax_silva.fasta.nhr
databases/SILVA_123.1_SSURef_Nr99_tax_silva.fasta.nin
databases/SILVA_123.1_SSURef_Nr99_tax_silva.fasta.nsq
databases/SILVA_123.1_SSURef_Nr99_tax_silva.fasta.shd
databases/SILVA_123_SSURef_Nr99_tax_silva.fasta
databases/SILVA_123_SSURef_Nr99_tax_silva.fasta.00.idx
databases/SILVA_123_SSURef_Nr99_tax_silva.fasta.nhr
databases/SILVA_123_SSURef_Nr99_tax_silva.fasta.nin
databases/SILVA_123_SSURef_Nr99_tax_silva.fasta.nsq
databases/SILVA_123_SSURef_Nr99_tax_silva.fasta.shd
databases/SILVA_123_SSURef_Nr99_tax_silva.seg
databases/SILVA_123_SSURef_Nr99_tax_silva_stressman.fasta
databases/SILVA_123_SSURef_Nr99_tax_silva_stressman.fasta.00.idx
databases/SILVA_123_SSURef_Nr99_tax_silva_stressman.fasta.nhr
databases/SILVA_123_SSURef_Nr99_tax_silva_stressman.fasta.nin
databases/SILVA_123_SSURef_Nr99_tax_silva_stressman.fasta.nsq
databases/SILVA_123_SSURef_Nr99_tax_silva_stressman.fasta.shd
databases/THFv1.2.sequence.fasta
databases/THFv1.2.sequence.fasta.00.idx
databases/THFv1.2.sequence.fasta.nhr
databases/THFv1.2.sequence.fasta.nin
databases/THFv1.2.sequence.fasta.nsq
databases/THFv1.2.sequence.fasta.shd
databases/gg_13_5.fasta
databases/gg_13_5.fasta.00.idx
databases/gg_13_5.fasta.01.idx
databases/gg_13_5.fasta.nhr
databases/gg_13_5.fasta.nin
databases/gg_13_5.fasta.nsq
databases/gg_13_5.fasta.seg
databases/gg_13_5.fasta.shd
databases/gg_13_5_taxonomy.txt
databases/gold.fa
databases/homo_sapiens.fna
databases/homo_sapiens.fna.1.bt2
databases/homo_sapiens.fna.2.bt2
databases/homo_sapiens.fna.3.bt2
databases/homo_sapiens.fna.4.bt2
databases/homo_sapiens.fna.rev.1.bt2
databases/homo_sapiens.fna.rev.2.bt2
databases/phi.fa
databases/phi.fa.1.bt2
databases/phi.fa.2.bt2
databases/phi.fa.3.bt2
databases/phi.fa.4.bt2
databases/phi.fa.rev.1.bt2
databases/phi.fa.rev.2.bt2
databases/sh_general_release_dynamic_s_01.08.2015.fasta
databases/sh_general_release_dynamic_s_01.08.2015.fasta.00.idx
databases/sh_general_release_dynamic_s_01.08.2015.fasta.nhr
databases/sh_general_release_dynamic_s_01.08.2015.fasta.nin
databases/sh_general_release_dynamic_s_01.08.2015.fasta.nsq
databases/sh_general_release_dynamic_s_01.08.2015.fasta.shd
databases/stressman.fasta
databases/stressman.fasta.00.idx
databases/stressman.fasta.nhr
databases/stressman.fasta.nin
databases/stressman.fasta.nsq
databases/stressman.fasta.shd
